html   { overflow-y: scroll; }
body   { background-color: #f1f1f1; }
header { background-color: #f1f1f1; }

#wrap, #head_wrap {
	width: 960px;
	margin: 0 auto;
}

#no-js-at-all-uh-oh {
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: white;
	margin: 0 auto;
	padding: 0;
}

p {
	font-family: sans-serif;
	font-size: 14px;
	color: black;
	padding: 10px;
}

button {
	margin: 5px;
	cursor: pointer;
	width: 125px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding: 9px 13px;
	background-color: #5fbd19;
	background: -moz-linear-gradient(top,#5fbd19 0%,#52a615);
	background: -webkit-gradient(linear, left top, left bottom, from(#5fbd19), to(#52a615));
	border: 1px solid #3c6c33;
	        border-radius: 4px;
	   -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	        box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
}

button:hover {
	background-color: #65c91b;
	background: -moz-linear-gradient(top,#65c91b 0%,#59b118);
	background: -webkit-gradient(linear, left top, left bottom, from(#65c91b), to(#59b118));
}

button:active {
	        box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
}

button.back_step {
	background-color: #bfbfbf;
	background: -moz-linear-gradient(top,#bfbfbf 0%,#989898);
	background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#989898));
	border: 1px solid #3b3b3b;
}

button.back_step:hover {
	background-color: #d0d0d0;
	background: -moz-linear-gradient(top,#d0d0d0 0%,#a4a4a4);
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#a4a4a4));
}

button.back_step:active {
	        box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
}


/**************************/
/********* HEADER *********/
/**************************/
header {
	height: 145px;
	margin-top: 20px;
}
header img {
	float: left;
}

header h1 {
	float: left;
	font-size: 30px;
	padding: 35px 0 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #807979;
	letter-spacing: -2px;
}

header h1 span {
	font-weight: 800;
	color: #5191bc;
	font-size: 50px;
}

header h2 {
	font-size: 14px;
	margin: 65px 0 0 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #a6a6a6;
	float:left;
	text-shadow: 1px 1px 1px #eaeaea;
	max-width: 460px;
}

header #header_left {
	max-width: 500px;
	float: left;
}

/**************************/
/******* END HEADER *******/
/**************************/





/**************************/
/******** CHECKOUT ********/
/**************************/
div#checkout_steps {
	padding: 0;
	margin: 10px 0;
	float: left;
	width: auto;
	width: 651px;
	position: relative;
}

/* these are all the elements affecting the section height
 * if you add or subtract a value, add it to all 3 */
div#checkout_steps    { height: 550px; }
.section .button_area { top: 500px;    }
.section_area         { height: 507px; }

div.section {
	max-width: 490px;
	width:490px;
	border: 1px solid #9a9a9a;
	border-left: none;
	margin: 0;
	height: inherit;
	position: absolute;
	top: 0;
	z-index: auto;
}

div.inner_section {
	padding-top:10px;
	margin:0;
}


div#section_1 {
	border-left: 1px solid #9a9a9a;
	z-index: 10;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#section_5 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div#section_1 { left: 0;}
div#section_1 { left: 0;}
div#section_2 { left: 41px;}
div#section_3 { left: 81px;}
div#section_4 { left: 121px;}
div#section_5 { left: 161px;}


div.section_number {
	font-size: 20px;
	font-weight: bolder;
	font-family: sans-serif;
	background-color: #61b13d;
	border-radius: 15px;
	border: 1px solid #6c725f;
	padding-top: 3px;
	margin-top: 5px;
	width:30px;
	height:27px;
	text-align: center;
	vertical-align: middle;
	color: white;
	z-index: 11;
}

div#section_number_1 {
	position: absolute;
	top: 1px;
	left: 0;
	margin-left: 4px;
}

div#section_0 { border: none; }

div.next_section_number {
	position: relative;
	float: right;
	left: 36px;
}

h2.section_title {
	font-family: sans-serif;
	font-size: 20px;
	padding: 7px 0 0 45px;
	color: #565866;
}

.title_area {
	position: absolute;
	height: 42px;
	width: inherit;
	border-bottom: 1px solid #d1d1d1;
	background-color: #d1d1d1;
	z-index: -1;
}

#section_0 .title_area, #section_1 .title_area { border-top-left-radius: 4px; }
#section_5 .title_area { border-top-right-radius: 4px; }
#section_1 .section_area, #section_0 .section_area { border-bottom-left-radius: 4px;}
#section_5 .section_area { border-bottom-right-radius: 4px;}

.section_area {
	position: absolute;
	top:43px;
	width: inherit;
	background-color: #d1d1d1;
	z-index: -1;
}

.active .section_area { background-color: white;}
.active .title_area   { background-color: white; border-bottom: 1px solid #9a9a9a;}

.section button.next_step, .section button.next_step_submit {float:right;}
.section button.back_step {float:left;}

.section .button_area {
	height: 50px;
	position: absolute;
	width: 490px;
	left: 0;
}

.section div.back_button_area { width: 200px; }

label {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #3f3b3b;
}

form { margin: 10px; }

input {
	background-color: white;
	border: 1px solid #cccccc;
	        box-shadow: 0 1px 4px #a6a6a6 inset;
	     -o-box-shadow: 0 1px 4px #a6a6a6 inset;
	   -moz-box-shadow: 0 1px 4px #a6a6a6 inset;
	-webkit-box-shadow: 0 1px 4px #a6a6a6 inset;
	border-radius: 2px;
	padding: 1px 4px;
}


/**************************/
/****** END CHECKOUT ******/
/**************************/





/**************************/
/******** SECTION 1 *******/
/**************************/

#section_1 h3 {
	display: block;
	float: left;
	width: 45%;
	height: 67px;
	padding: 8px 0 0 40px;
	font-family: sans-serif;
	font-size: 20px;
}

#section_1 div.button_area {
	position: relative;
	top: 0;
	float: right;
	width: 45%;
	height: 75px;
}

#section_1 button {
	float:left;
	width: 115px;
}

#section_1 .inner_section {
	margin-top: 50px;
}

/**************************/
/***** END SECTION 1 ******/
/**************************/



/**************************/
/******** SECTION 2 *******/
/**************************/

#section2-1 input, .sec-2-1-formdiv, .label_container {
	float: left;
	width: 100%;
}

#section2-1 label {
	margin-top: 10px;
	float: left;
	width: auto;
}

#sec-2-1-fname, #sec-2-1-lname               { width: 230px; }
#sec-2-1-fname input, #sec-2-1-lname input   { width: 190px; }
#sec-2-1-add1 input, #sec-2-1-add2 input     { width: 250px; }
#sec-2-1-city                                { width: 180px; }
#sec-2-1-city input                          { width: 140px; }
#sec-2-1-state                               { width: 105px; }
#sec-2-1-state select                        { width: 75px;  }
#sec-2-1-zip                                 { width: 180px; }
#sec-2-1-zip input                           { width: 80px;  }
#sec-2-1-phone input                         { width: 120px; }
#sec-2-1-ship_op select                      { width: auto;  }



/**************************/
/***** END SECTION 2 ******/
/**************************/





/**************************/
/******** SECTION 3 *******/
/**************************/

#section3-1 input, .sec-3-1-formdiv, .label_container, #section3-1 h3 {
	float: left;
	width: 100%;
	display: inline;
}

#section3-1 h3 {
	width: 100%;
	float: left;
	margin: 18px 0 0 0;
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #298b9d;
	font-size: 22px;
}

#sec-3-1-same_address input { margin-top: 12px; }

#section3-1 label {
	margin-top: 10px;
	float: left;
	width: auto;
}

/* this is a fix for a strange bug appearing in firefox */
#sec-3-line-fix {
	float: left;
	display: inline;
	width: 100%;
	height: 47px;
}


#sec-3-1-same_address label, #sec-3-1-same_address input       { width: auto;  }
#sec-3-1-fname, #sec-3-1-lname                                 { width: 230px; }
#sec-3-1-fname input, #sec-3-1-lname input                     { width: 190px; }
#sec-3-1-add1 input, #sec-3-1-add2 input                       { width: 250px; }
#sec-3-1-city                                                  { width: 180px; }
#sec-3-1-city input                                            { width: 140px; }
#sec-3-1-state                                                 { width: 105px; }
#sec-3-1-state select                                          { width: 75px;  }
#sec-3-1-zip                                                   { width: 185px; }
#sec-3-1-zip input                                             { width: 80px;  }
#sec-3-1-phone                                                 { width: 150px; }
#sec-3-1-phone input                                           { width: 110px; }
#sec-3-1-email                                                 { width: 240px; }
#sec-3-1-email input                                           { width: 200px; }


#sec-3-1-payment_method div.label_container                    { width: auto;  }
#sec-3-1-payment_method label, #sec-3-1-payment_method input   { width: auto;  }
#sec-3-1-cc_number                                             { width: 245px; }
#sec-3-1-cc_number input                                       { width: 205px; }
#sec-3-1-cc_expiry_date                                        { width: 150px; }
#sec-3-1-cc_expiry_date  input                                 { width: 80px;  }
#sec-3-1-cc_card_type                                          { width: 200px; }
#sec-3-1-cc_card_type select                                   { width: 160px; }
#sec-3-1-cc_csv                                                { width: 250px; }
#sec-3-1-cc_csv  input                                         { width: 80px;  }
#sec-3-1-dw_account, #sec-3-1-dw_routing                       { width: 200px; }
#sec-3-1-dw_account input, #sec-3-1-dw_routing input           { width: 160px; }
#sec-3-1-dw_bank_phone input                                   { width: 120px; }


#sec-3-1-payment_method input { margin: 12px 10px 0 10px; }
#sec-3-1-payment_method label#trans_type_dw_label {padding-left: 50px;}

#section3-1 input.pre-fill {
	background-color: #9b9b9b;
	color: #4e4e4e;
		        box-shadow: 0 1px 4px #4e4e4e inset;
	     -o-box-shadow: 0 1px 4px #4e4e4e inset;
	   -moz-box-shadow: 0 1px 4px #4e4e4e inset;
	-webkit-box-shadow: 0 1px 4px #4e4e4e inset;
}

#sec-3-1-cc_payment_info, #sec-3-1-dw_payment_info {
	display: none;
}

#section_3 #section3-1 div#sec-3-1-payment_method label.error {
	position: absolute;
	right: 150px;
}



/**************************/
/***** END SECTION 3 ******/
/**************************/







/**************************/
/******** SECTION 4 *******/
/**************************/

#section_4 h3 {
	width: auto;
	float: left;
	margin: 18px 0 4px 10px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #298b9d;
	font-size: 22px;
}

div.sec-4-1-line {
	width: 100%;
	float: left;
	margin-left: 16px;
}

div.sec-4-info {
	float: left;
	display: block;
	width: auto;
	margin: 0 auto;
	margin-right: 10px;
}

div.sec-4-1-details {
	float: left;
	margin: 2px 6px 0 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	width: auto;
}

div.sec-4-1-label {
	font-family: Arial, sans-serif;
	font-size: 12px;
	width: auto;
	margin: 2px 0 0 0;
	font-weight: bold;
}

div#sec-4-cart_items, div#sec-4-1-bill_items {
	margin-bottom: 12px;
}


div.sec-4-1-details-nofloat {
	font-weight: 300;
	width: auto;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	margin: 2px 0 0 0;
}


button.edit_button {
	font-size: 13px;
	font-family: Arial, sans-serif;
	font-weight: 500;
	margin: 22px 0 0 10px;
	padding: 1px 2px;
	width: auto;
	float: left;
	display: block;
	        border-radius: 2px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #19a0bd;
	background: -moz-linear-gradient(top,#19a0bd 0%,#13839b);
	background: -webkit-gradient(linear, left top, left bottom, from(#19a0bd), to(#13839b));
	border: 1px solid #35646d;
	        box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
}


button.edit_button:hover {
	background-color: #1588a0;
	background: -moz-linear-gradient(top,#1588a0 0%,#147387);
	background: -webkit-gradient(linear, left top, left bottom, from(#1588a0), to(#147387));
}

button.edit_button:active {
	        box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
}

/**************************/
/***** END SECTION 4 ******/
/**************************/












/**************************/
/******** SECTION 5 *******/
/**************************/

#section_5 h3 {
	width: 100%;
	float: left;
	margin: 18px 0 4px 10px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #298b9d;
	font-size: 22px;
}

#section_5 p {
	margin: 10px 10px 0 10px;
	padding: 0;
	float: left;
	width: auto;
	font-family: serif;
	font-size: 12px;
}

div.sec-5-1-line {
	width: 100%;
	float: left;
	margin-left: 16px;
}

div.sec-5-info {
	float: left;
	display: block;
	width: auto;
	margin: 0 auto;
	margin-right: 10px;
}

div.sec-5-1-details {
	float: left;
	margin: 2px 6px 0 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	width: auto;
}

div.sec-5-1-label {
	font-family: Arial, sans-serif;
	font-size: 12px;
	width: auto;
	margin: 2px 0 0 0;
	font-weight: bold;
}


div.sec-5-1-details-nofloat {
	font-weight: 300;
	width: auto;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	margin: 2px 0 0 0;
}

div#sec-5-cart_items, div#sec-5-1-bill_items {
	margin-bottom: 12px;
}

/**************************/
/***** END SECTION 5 ******/
/**************************/









/**************************/
/********** CART **********/
/**************************/

div#cart_contents {
	float: right;
	border: 1px solid #cccccc;
	width: 270px;
	height: auto;
	margin: 10px 0;
	background-color: white;
	border-radius: 5px;

}

#cart_contents h3 {
	width: 100%;
	float: left;
	padding: 20px 0 15px 0;
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #298b9d;
	font-size: 30px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #cccccc;
}

div.cart_item {
	width: 100%;
	display: block;
	float: left;
	position: relative;
}

#cart-first {
	margin-top: 20px;
}

#cart_contents img {
	float: left;
	width: 100px;
	margin-bottom: 20px;
	position: relative;
}

div.item_details {
	float: left;
	width: 170px;
	position: relative;
}

.item_details p {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0 auto;
	padding: 0 0 0 5px;
}

div.cart-section {
	width: 100%;
	display: block;
	float: left;
	position: relative;
	margin-top: 10px;
	padding-top: 15px;
	margin-bottom:20px;
	border-top: 1px solid #cccccc;
}

.cart-summary {
	float: left;
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 15px;
	margin-left: 10px;
}

#cart-summary-right {
	float: right;
	text-align: right;
	margin: 0 15px 0 15px;
}

#cart-summary-left {
	font-weight: bold;
}

.cart-extra-space {
	margin-top: 20px;
}

#cart-total-label {
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #298b9d;
	font-size: 22px;
	text-align: left;
}

#cart-total {
	font-size: 18px;
}




/**************************/
/********* END CART *******/
/**************************/






#section_2 #section2-1 label.error, #section_3 #section3-1 label.error {
	font-size:10px;
	font-weight:800;
	background-color:#FFBABA;
	/*text-shadow: 2px 2px 5px #D8000C;*/
	color:#D8000C;
	padding: 1px 5px 3px 5px;
	margin: 5px 0 0 5px;
	-webkit-border-radius: 22px;
	   -moz-border-radius: 22px;
	        border-radius: 22px;
	position: relative;
	width: auto;
	float: left;
}
