html   { overflow-y: scroll; }
body   { background-color: white; }
header { background-color: #dfdfdf; }

#wrap, #head_wrap {
	width: 960px;
	margin: 0 auto;
}

p {
	font-family: sans-serif;
	font-size: 14px;
	color: black;
	padding: 10px;
}

button {
	margin: 5px;
	cursor: pointer;
	width: 125px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	padding: 9px 15px;
	background-color: #35e114;
	background: -moz-linear-gradient(top,#35e114 0%,#327b24);
	background: -webkit-gradient(linear, left top, left bottom, from(#35e114), to(#327b24));
	border: 1px solid #3c6c33;
	        border-radius: 4px;
	   -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	        box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4);
}

button:hover {
	background-color: #35ff0d;
	background: -moz-linear-gradient(top,#35ff0d 0%,#217411);
	background: -webkit-gradient(linear, left top, left bottom, from(#35ff0d), to(#217411));
}

button:active {
	        box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
}

button.back_step {
	background-color: #bfbfbf;
	background: -moz-linear-gradient(top,#bfbfbf 0%,#989898);
	background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#989898));
	border: 1px solid #3b3b3b;
}

button.back_step:hover {
	background-color: #d0d0d0;
	background: -moz-linear-gradient(top,#d0d0d0 0%,#a4a4a4);
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#a4a4a4));
}

button.back_step:active {
	        box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	   -moz-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset -1px -1px 3px rgba(255,255,255,0.4);
}


/**************************/
/********* HEADER *********/
/**************************/
header {
	height: 105px;
}
header img {
	float: left;
}

header h1 {
	float: left;
	font-size: 30px;
	padding: 35px 0 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #807979;
	letter-spacing: -2px;
}

header h1 span {
	font-weight: 800;
	color: #5191bc;
	font-size: 50px;
}
/**************************/
/******* END HEADER *******/
/**************************/





/**************************/
/******** CHECKOUT ********/
/**************************/
div#checkout_steps {
	padding: 0;
	margin: 10px 0;
	float: left;
	width: auto;
	height: 650px;
	width: 651px;
	position: relative;
}

div.section {
	max-width: 490px;
	width:490px;
	border: 1px solid #5e5e5e;
	border-left: none;
	margin: 0;
	height: inherit;
	position: absolute;
	top: 0;
	z-index: auto;
}

div.inner_section {
	padding-top:50px;
	margin:0;
}


div#section_1 {
	border-left: 1px solid #5e5e5e;
	z-index: 10;
	border-top-left-radius: 5px;
}

div#section_5 {border-top-right-radius: 4px;}

div#section_1 { left: 0;}
div#section_2 { left: 41px;}
div#section_3 { left: 81px;}
div#section_4 { left: 121px;}
div#section_5 { left: 161px;}


div.section_number {
	font-size: 20px;
	font-weight: bolder;
	font-family: sans-serif;
	background-color: #61b13d;
	border-radius: 15px;
	border: 1px solid #6c725f;
	padding-top: 3px;
	margin-top: 5px;
	width:30px;
	height:27px;
	text-align: center;
	vertical-align: middle;
	color: white;
	z-index: 11;
}

div#section_number_1 {
	position: absolute;
	margin-left:4px;
}

div.next_section_number {
	position: relative;
	float: right;
	left: 36px;
}

h2.section_title {
	font-family: sans-serif;
	font-size: 20px;
	padding: 7px 0 0 45px;
	color: #565866;
}

.title_area {
	position: absolute;
	height: 42px;
	width: inherit;
	border-bottom: 1px solid #e3e3e3;
	background-color: #f1f1f1;
	z-index: -1;
}

#section_1 .title_area { border-top-left-radius: 4px; }
#section_5 .title_area { border-top-right-radius: 4px; }

.section_area {
	position: absolute;
	top:43px;
	height: 607px;
	width: inherit;
	background-color: #f1f1f1;
	z-index: -1;
}

.active .section_area { background-color: white;}
.active .title_area   { background-color: #ded6d4; border-bottom: 1px solid #5e5e5e;}
/*.active .section_number { background-color: #61b13d; border: 1px solid #6c725f; }*/

.section button.next_step {float:right;}
.section button.back_step {float:left;}

.section .button_area {
	height: 50px;
	position: relative;
	top: 405px;
	width: 490px;
}


/**************************/
/****** END CHECKOUT ******/
/**************************/





/**************************/
/******** SECTION 1 *******/
/**************************/

#section_1 h3 {
	display: block;
	float: left;
	width: 45%;
	height: 67px;
	padding: 8px 0 0 40px;
	font-family: sans-serif;
	font-size: 20px;

}

#section_1 div.button_area {
	position: relative;
	top: 0;
	float: right;
	width: 45%;
	height: 75px;
}

#section_1 button {
	float:left;
	width: 115px;
}

/**************************/
/***** END SECTION 1 ******/
/**************************/



div#cart_contents {
	float: right;
	border: 1px solid #cccccc;
	width: 270px;
	height: 600px;
	margin: 10px 0;
}

label.error {
	font-size:11px;
	font-weight:900;
	background-color:#FFBABA;
	text-shadow: 2px 2px 5px #D8000C;
	color:#D8000C;
	padding:5px;
	margin-left: 10px;
	-webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
}
